Alloy
	Window
		View.notifications
			Label#notificaton
		View.board
			ImageView.card#card1
			ImageView.card#card2
			ImageView.card#card3
		Require(id="answer", src="view/answer")
		Require(id="question", src="view/question")