Alloy
	Window
		View.board
			ImageView.card#card1
			ImageView.card#card2
			ImageView.card#card3
		Label.subtitle(text="¿Qué tan raro es?")
		View.complicatedBoard
			ImageView.punctuationImg
			ImageView.punctuationImg.left
			ImageView.punctuationImg.left
			ImageView.punctuationImg.left
		Label.exit(text="Regresar", onClick="back")